.signIn-div {
  min-width: 350px;
  min-height: 400px;
  width: 25%;
  height: 25%;
  border: solid black 1px;
  border-radius: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
